footer {
  background-color: hsl(168, 48%, 72%);
  padding: 3em 0 2em;
  text-align: center;
  color: $dark-desaturated-cyan;

  img {
    margin-bottom: 1.5em;
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 4em auto 0;
  }

  nav {
    // width: 80%;
    justify-content: center;

    a {
      color: $dark-moderate-cyan;
      margin: 0 1em;
    }
  }
}

@media screen and (min-width: 600px) {
  .photo-grid {
  }

  footer {
    nav {
      flex: 1;
      height: auto;
    }

    .social-icons {
        
    }
  }
}
