footer {
  background-color: hsl(168, 48%, 72%);
  padding: 3em 0 2em;
  text-align: center;

  .ftr-logo {
    margin-bottom: 1.5em;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin: 3.5em auto 0;

    img {
      margin: 0 1em;
      cursor: pointer;
    }
  }

  nav {
    justify-content: center;

    a {
      color: $dark-moderate-cyan;
      margin: 0 1em;

      &:hover {
        color: white;
      }
    }
  }
}
