header {
  height: 80vh;
  background-image: url("/images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 75%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;

  //this is here because of navigation alignment issues
  a {
    display: flex;
    align-items: center;
  }
}

.nav-links {
  display: none;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.intro {
  text-align: center;
  color: #fff;
  font-family: "Fraunces", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 2.25em;
  margin: 2em 0 1.75em;
}

.down-arrow {
  align-self: center;
}

@media screen and (min-width: 900px) {
  header {
    background-image: url("/images/desktop/image-header.jpg");
    background-position: bottom center;
    max-width: none;
    height: 85vh;
  }

  nav {
    align-items: center;

    .menu {
      display: none;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;

    li {
      padding: 0 1.5rem;

      a {
        color: $white;
        position: relative;

        // transition: all 1 ease-in-out;

        &::after {
          content: "";
          position: absolute;
          background-color: $white;
          height: 3px;
          left: 0;
          bottom: -10px;
          transition: 0.3s;
          width: 0%;
        }

        &:not(.contact-cta):hover::after {
          width: 100%;
        }
      }
    }

    .contact-cta {
      background-color: $white;
      padding: 0.75rem 1rem;
      border-radius: 50px;
      font-family: "Fraunces", sans-serif;
      font-size: 1rem;
      margin-left: 1em;
      transition: all 0.2s ease-in-out;
      color: black;

      &:hover {
        box-shadow: 0 5px 15px $white;
      }
    }
  }

  .intro {
    letter-spacing: .25em;
  }
}
