.content-grid {
  .heading {
    font-size: 1.75em;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .desktop-img {
    display: none;
  }
}

.text {
  padding: 3em 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 1.5em 0 2em;
    color: $dark-grayish-blue;
    line-height: 1.7;
  }
}

.learn-cta {
  font-family: "Fraunces", sans-serif;
  color: black;
  text-transform: uppercase;
  position: relative;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0px;
    bottom: -2px;
    border-radius: 8px;
    z-index: -10;
  }
}

.yellow::after {
  background-color: hsla(51, 100%, 49%, 0.329);
}

.red::after {
  background-color: hsla(7, 99%, 70%, 0.384);
}

//Graphic text section
.graphic-text-section {
  position: relative;

  .image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 0;
    padding: 0 1em;
    text-align: center;
    color: $dark-desaturated-cyan;

    .heading {
      margin-bottom: 1em;
      font-weight: 900;
    }

    p {
      line-height: 1.7;
      font-size: 1rem;
    }
  }

  .blue {
    color: $dark-blue;
  }
}

//Testimonial Section

.testimonials {
  padding: 3em 2em 2em;
  text-align: center;

  .title {
    margin-bottom: 3em;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $grayish-blue;
    font-size: 1em;
  }

  .review-group {
    display: flex;
    flex-direction: column;
  }
  .review {
    margin-bottom: 4em;
  }

  .client-img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
  }

  .quote {
    line-height: 1.7;
    margin: 1.5em 0;
    color: $very-dark-grayish-blue;
  }

  .name {
    color: $very-dark-desaturated-blue;
    margin-bottom: 1em;
    font-weight: 900;
  }

  .job {
    font-size: 1rem;
    color: $grayish-blue;
  }
}

//grid pictures

.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media screen and (min-width: 710px) {
  .content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .mobile-img {
      display: none;
    }

    .desktop-img {
      display: block;
    }

    .transform {
      order: -1;
    }

    .text {
      text-align: left;
      font-size: 0.875rem;
    }
  }

  //TESTIMONIALS
  .testimonials {
    padding: 8em 5em 5em;
    .title {
      letter-spacing: 7px;
    }

    .review-group {
      flex-direction: row;
    }

    .review {
      padding: 2em 1.25em;
    }
  }

  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
