/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  height: 100vh;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", sans-serif;
}

li {
  list-style-type: none;
}

header {
  height: 80vh;
  background-image: url("/images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
  position: relative;
}
nav a {
  display: flex;
  align-items: center;
}
nav .menu {
  cursor: pointer;
  position: relative;
}

.nav-links {
  display: none;
}

.hide {
  display: none;
}

.mobile-menu-wrapper {
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 10;
}
.mobile-menu-wrapper .triangle {
  position: absolute;
  top: -25px;
  right: 0px;
  width: 0;
  height: 0;
  border-bottom: 25px solid white;
  border-left: 25px solid transparent;
}
.mobile-menu-wrapper .mobile-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-menu-wrapper a {
  margin: 1em 0;
  color: #818498;
  font-weight: 600;
}
.mobile-menu-wrapper a:hover {
  color: #5a636c;
}
.mobile-menu-wrapper .yellow-button {
  background-color: #fad400;
  padding: 1em 1.5em;
  border-radius: 50px;
  font-family: "Fraunces", sans-serif;
  color: black;
  margin-bottom: 2em;
}
.mobile-menu-wrapper .yellow-button:hover {
  background-color: rgba(250, 212, 0, 0.7);
}

.header-content {
  display: flex;
  flex-direction: column;
}
.header-content .intro {
  text-align: center;
  color: #fff;
  font-family: "Fraunces", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 2.25em;
  margin: 2em 0 1.25em;
}
.header-content .down-arrow {
  align-self: center;
  animation-duration: 2.25s;
  animation-name: slidedown;
  animation-iteration-count: infinite;
}
@keyframes slidedown {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
}

@media screen and (min-width: 900px) {
  header {
    background-image: url("/images/desktop/image-header.jpg");
    background-position: bottom center;
    max-width: none;
    height: 85vh;
  }

  nav {
    align-items: center;
    position: relative;
  }
  nav .menu {
    display: none;
  }

  .mobile-menu-wrapper {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    padding: 0 1.5rem;
  }
  .nav-links li a {
    color: white;
    position: relative;
  }
  .nav-links li a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    width: 0%;
  }
  .nav-links li a:not(.contact-cta):hover::after {
    width: 100%;
  }
  .nav-links .contact-cta {
    background-color: white;
    padding: 0.75rem 1rem;
    border-radius: 50px;
    font-family: "Fraunces", sans-serif;
    font-size: 1rem;
    margin-left: 1em;
    transition: all 0.2s ease-in-out;
    color: black;
  }
  .nav-links .contact-cta:hover {
    background-color: rgba(255, 255, 255, 0.342);
    color: white;
  }

  .intro {
    letter-spacing: 0.25em;
  }
}
.service-content .heading {
  font-size: 1.75em;
}
.service-content img {
  width: 100%;
  display: block;
}
.service-content .desktop-img {
  display: none;
}

.service {
  padding: 3em 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service p {
  margin: 1.5em 0 2em;
  color: #818498;
  line-height: 1.7;
}

.learn-cta {
  font-family: "Fraunces", sans-serif;
  color: black;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}
.learn-cta::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0px;
  bottom: -2px;
  border-radius: 8px;
  z-index: -10;
}

.yellow::after {
  background-color: rgba(250, 212, 0, 0.329);
}

.yellow:hover::after {
  background-color: #fad400;
}

.red::after {
  background-color: rgba(254, 120, 103, 0.384);
}

.red:hover::after {
  background-color: #fe7867;
}

.graphic-text-section {
  position: relative;
}
.graphic-text-section .image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 25%;
  left: 0;
  height: 50px;
  text-align: center;
  line-height: 1.5;
  color: #25564b;
}
.graphic-text-section .image-text .heading {
  margin-bottom: 1rem;
  font-weight: 900;
}
.graphic-text-section .image-text p {
  line-height: 1.7;
  font-size: 1rem;
  width: max(60%, 350px);
}
.graphic-text-section .service-images {
  position: relative;
}
.graphic-text-section .blue {
  color: #19536b;
}

.testimonials {
  padding: 3em 2em 2em;
  text-align: center;
}
.testimonials .title {
  margin-bottom: 3em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #a7abae;
  font-size: 1em;
}
.testimonials .review-group {
  display: flex;
  flex-direction: column;
}
.testimonials .review {
  margin-bottom: 4em;
}
.testimonials .client-img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}
.testimonials .quote {
  line-height: 1.7;
  margin: 1.5em 0;
  color: #5a636c;
}
.testimonials .name {
  color: #23303e;
  margin-bottom: 1em;
  font-weight: 900;
}
.testimonials .job {
  font-size: 1rem;
  color: #a7abae;
}

.photo-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.photo-gallery img {
  width: 100%;
  height: auto;
  display: block;
}
.photo-gallery .desktop-img {
  display: none;
}

@media screen and (min-width: 690px) {
  .service-content .row {
    display: flex;
  }
  .service-content .row .graphic-text-section p {
    width: 52%;
  }
  .service-content .row .graphic-text-section .service-text {
    font-size: max(1.2vmax, 0.7rem);
  }
  .service-content .egg-img,
.service-content .red-cup {
    flex-basis: 50%;
  }
  .service-content .mobile-img {
    display: none;
  }
  .service-content .desktop-img {
    display: block;
  }
  .service-content .transform {
    order: -1;
    padding: 0;
  }
  .service-content .transform h2 {
    width: 80%;
  }
  .service-content .red-cup {
    padding: 0;
  }
  .service-content .service-images {
    flex-basis: 50%;
  }
  .service-content .service {
    text-align: left;
    flex-basis: 50%;
    align-items: center;
    padding: 0;
  }
  .service-content .text-content-box {
    width: 60%;
    min-width: 270px;
  }
  .service-content .text-content-box .service-text {
    font-size: max(1.2vmax, 0.7rem);
  }
  .service-content .heading {
    font-weight: 900;
    font-size: max(2vmax, 1.2rem);
  }

  .testimonials {
    padding: 8em 5em 5em;
  }
  .testimonials .title {
    letter-spacing: 7px;
  }
  .testimonials .review-group {
    flex-direction: row;
  }
  .testimonials .review {
    padding: 2em 1.25em;
  }

  .photo-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .photo-gallery .mobile-img {
    display: none;
  }
  .photo-gallery .desktop-img {
    display: block;
  }
}
footer {
  background-color: #95dacc;
  padding: 3em 0 2em;
  text-align: center;
}
footer .ftr-logo {
  margin-bottom: 1.5em;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  margin: 3.5em auto 0;
}
footer .social-icons img {
  margin: 0 1em;
  cursor: pointer;
}
footer nav {
  justify-content: center;
}
footer nav a {
  color: #458c7e;
  margin: 0 1em;
}
footer nav a:hover {
  color: white;
}